[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/CantoInu"]
	path = lib/CantoInu
	url = https://github.com/CantoInu/CantoInu
[submodule "lib/clm"]
	path = lib/clm
	url = https://github.com/Canto-Network/clm
